html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Patua One', serif;
  line-height: 1.5;
  background: linear-gradient(to top, #ffffff 0%, #af9eab 99%, #c594b4 100%)
    no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}

a {
  display: block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
